<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/', 'home']">
          Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/', 'authentication', 'register']">
          Register
        </a>
      </li>
      <li>
        Authentication
        <ul>
          <li>
            <a [routerLink]="['/', 'authentication', 'signin']">
              Signin
            </a>
          </li>
          <li>
            <a [routerLink]="['/', 'authentication', 'signout']">
              Signout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
